// Initialize
@import 'init';
// Local
@import 'loading';
@import 'login';

.bg-brand {
    background-color: $brand-color;
}

.text-brand {
    color: $brand-color;
}

.candidate {
    padding: .5em 0 .5em 0;
}
.candidate:nth-of-type(odd) {
    background-color: #e5e5e5;

}
.candidate-block {
    display: inline-block;
    vertical-align: top;
    margin-right: .5em;
}
.image-default {
    position: absolute;
    bottom: 0;
    left: .5em;
    right: .5em;
    height: $line-height-lg;
    text-align: center;
    background: rgba(0, 0, 0, 0.65);
    color: #ffffff;
}
